ProjetoLaboratorio/ProjetoLaboratorio/Connected Services/Servico/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Servico/Servico/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servico" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servico" minOccurs="0" name="sala" nillable="true" type="q1:Laboratorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servico" minOccurs="0" name="ListarResult" nillable="true" type="q2:ArrayOfLaboratorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Editar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servico" minOccurs="0" name="sala" nillable="true" type="q3:Laboratorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcluirResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servico" minOccurs="0" name="getByIdResult" nillable="true" type="q4:Laboratorio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>