ProjetoLaboratorio/ProjetoLaboratorio/Connected Services/Servico/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servico" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servico" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Laboratorio">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projetor" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="qtdeAlunos" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="qtdeComputadores" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sistemaOperacional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="software1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="software2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="software3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Laboratorio" nillable="true" type="tns:Laboratorio" />
  <xs:complexType name="ArrayOfLaboratorio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Laboratorio" nillable="true" type="tns:Laboratorio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaboratorio" nillable="true" type="tns:ArrayOfLaboratorio" />
</xs:schema>