ProjetoLaboratorio/ProjetoLaboratorio/Connected Services/Servico/Servico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Servico/Servico/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Servico/Servico/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Servico/Servico/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servico" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServico_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="IServico_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IServico_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="IServico_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="IServico_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_getById_InputMessage">
    <wsdl:part name="parameters" element="tns:getById" />
  </wsdl:message>
  <wsdl:message name="IServico_getById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServico">
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/Inserir" message="tns:IServico_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/InserirResponse" message="tns:IServico_Inserir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/Listar" message="tns:IServico_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/ListarResponse" message="tns:IServico_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/Editar" message="tns:IServico_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/EditarResponse" message="tns:IServico_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/Excluir" message="tns:IServico_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/ExcluirResponse" message="tns:IServico_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/getById" message="tns:IServico_getById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/getByIdResponse" message="tns:IServico_getById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServico" type="tns:IServico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/IServico/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IServico/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/IServico/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/IServico/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction="http://tempuri.org/IServico/getById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico">
    <wsdl:port name="BasicHttpBinding_IServico" binding="tns:BasicHttpBinding_IServico">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servico/Servico/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>